{:googleapis/mvn-org "com.google.cloud",
 :googleapis/mvn-artifact "google-cloud-storage",
 :googleapis/mvn-release "2.64.1",
 :googleapis/repo "java-storage",
 :googleapis/git-repo "java-storage",
 :googleapis/git-tag "v2.64.1",
 :googleapis/git-sha "ba5daed0c1d306f821cc26549142ff0bcfb80cbb",
 :gcp/release "2.64.1-0"}
