{:googleapis/mvn-org "com.google.cloud",
 :googleapis/mvn-artifact "google-cloud-bigquery",
 :googleapis/mvn-release "2.71.0",
 :googleapis/repo "google-cloud-java",
 :googleapis/git-repo "google-cloud-java",
 :googleapis/git-tag "v1.91.0",
 :googleapis/git-sha "0b2991e56b4d0bed43608523f7fb244b1bb36011",
 :gcp/release "2.71.0-0"}
